<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <configSections>
        <section name="FrameworkConfiguration" type="ATFramework.ConfigElement.FrameworkAtConfiguration, ATFramework" />
    </configSections>
    <FrameworkConfiguration>
        <testSettings>
            <testSetting name="stating" aut="http://eaapp.somee.com/" browser="Firefox" testType="smokeTest"
                         isLog="Y" logPath="C:\\FrameworkAT\\"
                         appDb="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
            <testSetting name="preprod" aut="http://eaapp.somee.com/" browser="Firefox" testType="smokeTest"
                         isLog="Y" logPath="C:\\FrameworkAT\\"
                         appDb="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
            <testSetting name="prod" aut="http://eaapp.somee.com/" browser="Firefox" testType="smokeTest"
                         isLog="Y" logPath="C:\\FrameworkAT\\"
                         appDb="Data Source=EAEmployeeDB.mssql.somee.com;User ID=kartmcad_SQLLogin_1;Password=wtzaxoan1l;persist security info=False;initial catalog=EAEmployeeDB" />
        </testSettings>
    </FrameworkConfiguration>
</configuration>